body{
    margin: 0;
}

.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #639546;
  overflow-x: hidden;
  padding-top: 20px;
  padding-left: 15px;
  display: flex;
  flex-direction: column
}

.topnav {
    background-color: #92bf7f;
    overflow: hidden;
    height: 70px;
    width: 100%;
    box-sizing: border-box;
    padding-left: 180px;
    padding-right: 20px;
    top: 0;
    left: 0;
}

.profilepicture{
    margin: auto;
    border-radius: 100%;
}

.userinfo{
    display: flex;
    float: right;
    gap: 10px;
    height: 64px;
    /* Voor een of andere reden moet dit de helft zijn van de topnav*/
    line-height: 32px;
}

.main{
    margin-left: 160px;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 70px);
    overflow-x: hidden;
    overflow-y: auto;
    gap: 20px;
}

.plantcardrow{
    display: flex;
    align-items: center;
    padding-left: 30px;
    gap: 20px;
    width: 100%;
    height: 270px;
    overflow-x: auto;
    overflow-y: hidden;
    background-color: #e4e1e1;
}

.plant_image{
    width: 150px;
    height: 100px;
    border-radius: 5px;
    display: block;
    margin: auto;
}

.plant_card{
    height: 180px;
    width: 160px;
    border-style: solid;
    border-radius: 5px;
    border-color: grey;
    border-width: 2px;
    background-color: #c6d67e;
    padding: 5px;
    box-shadow: 2px 2px 3px 1px grey;
}

.plant_title{
    font-size: large;
}

.sidebar_icons{
    width: 20px;
    height: 20px;
    vertical-align: middle;
}

.settings{
    margin-top: auto;
    margin-bottom: 40px;
}

h1{
    margin-left: 30px;
    margin-bottom: 0px;
}